.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	// overflow-x:hidden;
	position:relative;


}

html{
	min-width: 320px;
	.container{
		min-width: 320px;
		@media screen and (max-width: #{$screen-md - 1}) {
			width: 100%;
			max-width: 1024px;
		}
	}
	#container{
		min-height: 100vh;
	}
	body{
		@media screen and (max-width: #{$screen-sm - 1}) {
			font-size: 16px;
			font-size: vwxs(16, 320);
		}		
	}
	::-moz-selection,
	::selection{
		background: rgba(0,0,0,0.2);
		color: inherit;
		text-shadow: none;
	}
}